.currentUserInfo {
}

.serverIndex {
  height: 100%;
  background: #23272A;
  padding:0;
  margin:0;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.channelList{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.channelIndex {
  background: #2C2F33;
  display: flex;
  flex-direction: column;
}

.channelItem {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
}

.serverItem {
  border: 1px solid black;
  padding: 20px;
  margin-left: 15px;
  border-radius: 50%;
  background: #7289DA;
  text-decoration: none;
}

.channelShowMessage {
  width:85%;
  background: #99AAB5;
  display: flex;
  flex-direction: column;
  // overflow-y: auto;
}

.channelShowUser {
  width: 15%;
  background: #2C2F33;
}

.channelShowAll {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.messageShow {
  display: flex;
  height: 95%;
  flex-direction: row;
  overflow-y: auto;
}

.messageInput {
  position: fixed;
  bottom: 0;
}


.app {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.channelShow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
