.welcomePage {
  width: 78px;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: #24292e;
}


.logoutButton {
  border: none;
  box-sizing: border-box;
  background: #85144b;
  color: rgba(255,255,255, 0.9);
  transition: background 0.5s, color 0.2s;
}

.logoutButton:hover {
  background: rgba(133, 20, 75, 0.8);
  color: #fff;
}
